@font-face {
    font-family: 'Urdu';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts2/Urdu400.woff2) format('woff2');
    unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0898-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC;
  }
.urdu{
    font-family: 'Urdu';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}