*{
    margin: 0;
    padding: 0;
}
.container {
    background-color:blueviolet ;
    padding: 20px;
    display: flex; 
    flex-flow: row wrap;
    /* gap: 5px; */
    justify-content: space-evenly;

}
.container li {
    list-style-type:none;
}
ul li a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}


/* Inline, Block and inline-block */
.parent{
    padding: 20px;
    background-color: cadetblue;
}
div > p 
{
    /* display: inline-block; */

    /* margin-top: 30px; */
    /* padding: 10px; */
    background-color: lightgrey;
    border: 2px solid white;
}
div a {
    display: inline-block;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 20px 30px;
    border-radius:3%;
    margin:20px 0;
    /* height: 50px; */
    color: white;
    background-color: green;
    border: 2px solid green;
}
div a:hover{
    background-color: white;
    color: green;
    /* border: 3px solid orange; */
    outline: 2px solid green;
}